{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-country').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-country').submit() : false;"><i class="fa fa-trash-o"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_enable }}" class="btn btn-success" onclick="$('#form-country').attr('action', '{{ enable }}'); $('#form-country').submit();"><i class="fa fa-plus-circle"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_disable }}" class="btn btn-danger" onclick="$('#form-country').attr('action', '{{ disable }}'); $('#form-country').submit();"><i class="fa fa-minus-circle"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-country" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-iso-code-2">{{ entry_iso_code_2 }}</label>
              <input type="text" name="filter_iso_code_2" value="{{ filter_iso_code_2 }}" placeholder="{{ entry_iso_code_2 }}" id="input-iso-code-2" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-iso-code-3">{{ entry_iso_code_3 }}</label>
              <input type="text" name="filter_iso_code_3" value="{{ filter_iso_code_3 }}" placeholder="{{ entry_iso_code_3 }}" id="input-iso-code-3" class="form-control" />
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-country">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                    <td class="text-left">{% if sort == 'name' %}
                      <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                      {% else %}
                      <a href="{{ sort_name }}">{{ column_name }}</a>
                      {% endif %}</td>
                    <td class="text-left">{% if sort == 'iso_code_2' %}
                      <a href="{{ sort_iso_code_2 }}" class="{{ order|lower }}">{{ column_iso_code_2 }}</a>
                      {% else %}
                      <a href="{{ sort_iso_code_2 }}">{{ column_iso_code_2 }}</a>
                      {% endif %}</td>
                    <td class="text-left">{% if sort == 'iso_code_3' %}
                      <a href="{{ sort_iso_code_3 }}" class="{{ order|lower }}">{{ column_iso_code_3 }}</a>
                      {% else %}
                      <a href="{{ sort_iso_code_3 }}">{{ column_iso_code_3 }}</a>
                      {% endif %}</td>
                    <td class="text-left">
                      {% if sort == 'status' %}
                        <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                      {% else %}
                        <a href="{{ sort_status }}">{{ column_status }}</a>
                      {% endif %}
                    </td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% if countries %}
                  {% for country in countries %}
                  <tr>
                    <td class="text-center">{% if country.country_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ country.country_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ country.country_id }}" />
                      {% endif %}</td>
                    <td class="text-left">{{ country.name }}</td>
                    <td class="text-left">{{ country.iso_code_2 }}</td>
                    <td class="text-left">{{ country.iso_code_3 }}</td>
                    <td class="text-left">{{ country.status }}</td>
                    <td class="text-right"><a href="{{ country.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="5">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  var url = '';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_iso_code_2 = $('input[name=\'filter_iso_code_2\']').val();

  if (filter_iso_code_2) {
    url += '&filter_iso_code_2=' + encodeURIComponent(filter_iso_code_2);
  }

  var filter_iso_code_3 = $('input[name=\'filter_iso_code_3\']').val();

  if (filter_iso_code_3) {
    url += '&filter_iso_code_3=' + encodeURIComponent(filter_iso_code_3);
  }

  location = 'index.php?route=localisation/country&user_token={{ user_token }}' + url;
});
//--></script>
{{ footer }}